<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= detailItem.title %></h1>
    <form
      action="/photo/<%= detailItem.image %>/?_method=DELETE"
      method="POST"
      onsubmit="return confirm('Are you sure that you want to delete this?');"
    >
      <input type="submit" name="delete" id="delete" value="DELETE" />
    </form>

    <a href="/photo/<%= detailItem.image %>/update">update</a>
  </body>
</html>
