<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <small>Tristan Varewijck & Browser Technologies</small>
      <div>
        <h1>Photo review</h1>
        <button>
          <a href="photo/new-photo"
            ><p>Add photo</p>
            <span class="material-icons"> collections </span></a
          >
        </button>
      </div>
    </header>

    <main>
      <section>
        <% if(items.length === 0){ %>
        <h1>There is no content here!</h1>
        <% } else{ %> <% items.forEach(function(item){ %>
        <a href="photo/<%=item.image%>">
          <img src="images/<%=item.image%>" alt="<%=item.image%>" />
        </a>
        <% }); %> <% } %>
      </section>
    </main>
  </body>
</html>
