<!DOCTYPE html>
<html lang="en">
  <%- include('partials/layout') %>
  <body>
    <header>
      <small>Tristan Varewijck & Browser Technologies</small>
      <div>
        <h1>Photo review</h1>
        <a href="photo/new-photo"
          ><p>Add photo</p>
          <span class="material-icons"> collections </span>
        </a>
      </div>
    </header>

    <main data-route="landing">
      <section>
        <% if(items.length === 0){ %>
        <p>You have not added any pictures to your collection yet</p>
        <% } else{ %> <% items.forEach(function(item){ %>
        <a href="photo/<%=item.image%>">
          <img src="images/<%=item.image%>" alt="<%=item.image%>" />
          <span><p>More info</p></span>
        </a>
        <% }); %> <% } %>
      </section>
    </main>
  </body>
</html>
