* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

:root {
  --black: #000000;
  --white: #ffff;
}

body {
  font-family: var(--Font);
  color: var(--black);
  background: var(--white);
}

header section {
  padding-top: 10em;
  background: #000;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: var(--white);
}

header section h1 {
  font-size: 72px;
  font-weight: 200;
}

header section h1 {
  font-size: 72px;
  font-weight: 200;
}

header section p {
  margin-top: 1em;
  font-size: 1em;
}

header section small {
  color: rgb(133, 133, 133);
  margin-top: 2.5em;
}

header section img {
  position: absolute;
  width: 50%;
  bottom: 0;
  animation: 5s updown ease infinite;
}

main {
  height: 100%;
  width: 100%;
}

main section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
}

main section small {
  font-size: 1.5em;
  color: rgb(133, 133, 133);
  /* margin-bottom: 2em; */
}

main section h2 {
  margin-top: 0.6em;
  margin-bottom: 0.2em;
  font-size: 1.5em;
  font-weight: lighter;
}

main section p {
  margin-top: 0.6em;
  margin-bottom: 0.2em;
  font-size: 1em;
  font-weight: lighter;
  opacity: 87%;
}

main section img {
  width: 50%;
}
main section div {
  width: 50%;
  padding-right: 10rem;
}

main section:nth-child(1) {
  margin-top: 10rem;
}
main section:nth-child(2) {
  flex-direction: row-reverse;
}
main section:nth-child(2) div {
  width: 50%;
  padding-left: 10rem;
  padding-right: 0;
}

@keyframes updown {
  0% {
    transform: translateY(40%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(40%);
  }
}
